DATABASE_URL=
# scopes needed: profile:read profile:write organizations:read organizations:write people:read people:write users:read contracts:read contracts:write
DEEL_API_KEY=
SYNC_ENDPOINT_KEY=
SLACK_TOKEN=
BETTER_AUTH_SECRET=
VITE_APP_BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SLACK_FEEDBACK_NOTIFICATION_CHANNEL_ID=
# allow accessing the app through a local tunnel (e.g. ngrok)
VITE_APP_ALLOWED_HOST=
DEEL_SIGNATURE_TEXT=""
BAMBOO_API_KEY=""
AWS_ENDPOINT=""
AWS_REGION=""
AWS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME=""
